* {
  scrollbar-width: thin;
  scrollbar-color: transparent #999999;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 0;
  border: none;
}
