.swiper-button-next {
  right: 45px;
}
.swiper-button-prev {
  left: 45px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #ffba08;
}

.swiper-pagination-bullet {
  font-size: 1rem;
  background: #999999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ffba08;
}

@media (max-width: 1023px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 1.25rem;
  }

  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-prev {
    left: 15px;
  }
}
